<div class="row mb-4">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <mdb-card>
  
        <mdb-card-header class="info-color white-text text-center py-4">
          <h5>
            <strong>Register</strong>
          </h5>
        </mdb-card-header>
  
  
  
        <mdb-card-body class="px-lg-5 pt-0">
  
  
          <form class="text-center" style="color: #757575;">
  
  
              <div class="md-form">
                  <input type="text" id="materialLoginFormEmail" class="form-control" mdbInputDirective>
                  <label for="materialLoginFormEmail">Name:</label>
                </div>

                <div class="md-form">
                    <input type="email" id="materialLoginFormEmail" class="form-control" mdbInputDirective>
                    <label for="materialLoginFormEmail">E-mail:</label>
                  </div>

                  <div class="md-form">
                      <input type="number" id="materialLoginFormEmail" class="form-control" mdbInputDirective>
                      <label for="materialLoginFormEmail">Mobile:</label>
                    </div>
                    

            <div class="md-form">
              <input type="email" id="materialLoginFormEmail" class="form-control" mdbInputDirective>
              <label for="materialLoginFormEmail">Address</label>
            </div>
  
  
            <div class="md-form">
              <input type="text" id="materialLoginFormPassword" class="form-control" mdbInputDirective>
              <label for="materialLoginFormPassword">Skills:</label>
            </div>

            <div class="md-form">
                <input type="password" id="materialLoginFormPassword" class="form-control" mdbInputDirective>
                <label for="materialLoginFormPassword">Place:</label>
              </div>
  
              <div class="md-form">
                  <input type="number" id="materialLoginFormPassword" class="form-control" mdbInputDirective>
                  <label for="materialLoginFormPassword">Experience:</label>
                </div>
             
                <div class="md-form">
                    <label for="materialLoginFormPassword">Profile:</label>
                    <br>
                    <br>
                    <input type="file" id="materialLoginFormPassword" class="form-control" mdbInputDirective>
                   
                  </div>
  
                  <div class="md-form">
                      <label for="materialLoginFormPassword">Demo Video:</label>
                      <br>
                      <br>
                      <input type="file" id="materialLoginFormPassword" class="form-control" mdbInputDirective>
                     
                    </div>

            <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
              mdbWavesEffect type="submit">Register</button>
  
  
            <p>Already Registered?
              <a href="">Log In</a>
            </p>
  
  
            
  
          </form>
  
        </mdb-card-body>
  
      </mdb-card>
    </div>
  </div>