<div class="modal-dialog cascading-modal" role="document">
  <div class="modal-content">
    <div class="modal-c-tabs">
      <div>
        <ul class="nav nav-tabs md-tabs tabs-2" role="tablist">
          <li class="nav-item info-color">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-sign-in mr-1"></i>
              Trainer</a>
          </li>
          <li class="nav-item info-color">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fa fa-sign-in mr-1"></i>
              Student</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
          <mdb-card>
            <mdb-card-header class="info-color white-text text-center py-3">
              <h5>
                <strong> Trainer Login</strong>
              </h5>
            </mdb-card-header>
            <mdb-card-body class="px-lg-5 pt-0">
              <form class="text-center" style="color: #757575;">
                <ng-flash-message></ng-flash-message>
                <div class="md-form">
                  <input type="email" class="form-control" mdbInputDirective name="temail" [(ngModel)]="temail">
                  <label for="materialLoginFormEmail">E-mail</label>
                </div>


                <div class="md-form">
                  <input type="password" class="form-control" mdbInputDirective name="tpassword" [(ngModel)]="tpassword">
                  <label for="materialLoginFormPassword">Password</label>
                </div>

                <div class="d-flex justify-content-around">
                  <div>

                    <mdb-checkbox>Remember me</mdb-checkbox>
                  </div>
                  <div>

                    <a href="">Forgot password?</a>
                  </div>
                </div>


                <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
                  mdbWavesEffect type="submit">Log in</button>


                <p>Don't have an account?
                  <a href="">Register</a>
                </p>
              </form>
            </mdb-card-body>
          </mdb-card>
        </div>


        <div class="tab-pane fade" id="panel8" role="tabpanel">
          <mdb-card>
            <mdb-card-header class="info-color white-text text-center py-3">
              <h5>
                <strong> Student Login</strong>
              </h5>

            </mdb-card-header>
            <mdb-card-body class="px-lg-5 pt-0">
              <form class="text-center" style="color: #757575;">
                <ng-flash-message></ng-flash-message>
                <div class="md-form">
                  <input type="email" class="form-control" mdbInputDirective name="semail" [(ngModel)]="semail">
                  <label for="materialLoginFormEmail">E-mail</label>
                </div>

                <div class="md-form">
                  <input type="password" class="form-control" mdbInputDirective name="spassword" [(ngModel)]="spassword">
                  <label for="materialLoginFormPassword">Password</label>
                </div>

                <div class="d-flex justify-content-around">
                  <div>

                    <mdb-checkbox>Remember me</mdb-checkbox>
                  </div>
                  <div>

                    <a href="">Forgot password?</a>
                  </div>
                </div>


                <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
                  mdbWavesEffect type="submit">Log in</button>


                <p>Don't have an account?
                  <a href="">Register</a>
                </p>


              </form>

            </mdb-card-body>

          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</div>