<div class="row mb-4">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <mdb-card>

      <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong>Log in</strong>
        </h5>
      </mdb-card-header>



      <mdb-card-body class="px-lg-5 pt-0">


        <form class="text-center" style="color: #757575;">


          <div class="md-form">
            <input type="email" id="materialLoginFormEmail" class="form-control" mdbInputDirective>
            <label for="materialLoginFormEmail">E-mail</label>
          </div>


          <div class="md-form">
            <input type="password" id="materialLoginFormPassword" class="form-control" mdbInputDirective>
            <label for="materialLoginFormPassword">Password</label>
          </div>

          <div class="d-flex justify-content-around">
            <div>

              <mdb-checkbox>Remember me</mdb-checkbox>
            </div>
            <div>

              <a href="">Forgot password?</a>
            </div>
          </div>


          <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
            mdbWavesEffect type="submit">Log in</button>


          <p>Don't have an account?
            <a href="">Register</a>
          </p>

        </form>

      </mdb-card-body>

    </mdb-card>
  </div>
</div>




