<nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5 fixed-top scrolling-navbar teal mb-4">

  <a class="navbar-brand " href="#"></a>
  <img src="../../assets/logo.jpg" alt="" style="height: 50px;width: 50px;">&nbsp;&nbsp;&nbsp;
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="router-link-active"><i class="fa fa-home" style="font-size: 25px"></i>&nbsp;Home
          <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <ul class="nav navbar-nav justify-content-end ">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active"><i class="fa fa-sign-in"
            style="font-size: 25px"></i>&nbsp;Login</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active"><i class="fa fa-user"
            style="font-size: 25px"></i>&nbsp;Register</a>
      </li>

    </ul>

  </div>
</nav>